#skills #frontend_skills {
  display: none;
}

#skills .container {
  width: 100%;
  height: 100vh;
  display: inline-flex;
}

#skills .container .bg_skills {
  width: 100%;
  height: 80%;
  background-color: black;
  /* border: 1px solid white; */
  margin-top: auto;
  margin-bottom: auto;
  border-left: none;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

#skills .container .title {
  display: flex;
  position: absolute;
  margin-top: 5px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 2.0rem;
  font-weight: 400;
  color: #f9fcff;
  font-family: 'Roboto Slab', serif;
}

#skills .container .category {
  position: absolute;
  margin-top: 74vh;
}

#skills .container .category .btn_skills_category{
  display: inline-flex; 
  border: none;
  border-radius: 10px;
  justify-content: center;
}

#skills .container .category .btn_skills_category .btn {
  border: 1px solid white;    
  font-family: 'Lato';
  font-size: 0.7rem;
  color: white;
  background: black;
  cursor: pointer;
  padding: 4px 4px;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#btn-backend{
  display: none;
}

#skills .container .left {
  height: 60vh;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

#skills .container .left .icons {
  margin-top: 80px;
  width: 100%;
}

#skills .container .left .icons button {
  border: none;
  cursor: pointer;
  display: inline-flex;
  width: 60px;
  height: 60px;
  background: white;
  margin: 0 10px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

#skills .container .left .icons p {
  align-items: center;
  display: flex;
  justify-content: center;
  color: #f9fcff;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 8px;
}

#skills .container .left ul {
  display: flex;
  margin-top: 30px;
}

#skills .container .left ul li {
  list-style: none;
  padding: 0 10px;
}

#skills .container .left ul li button img {
  width: 50px;
  height: 50px;
}

#skills .container .right {
  float: right;
}

/*------------------------------ CARDS BASE ------------------------------*/
#skills .container .right #card-base {
  position: relative;
  width: 300px;
  background-color: black;
  border: 2px solid black;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s;
  text-align: center;
  font-size: 1.5rem;
  color: white;
}

#skills .container .right #card_base_front {
  position: relative;
  width: 300px;
  background-color: black;
  border: 2px solid black;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s;
  text-align: center;
  font-size: 1.5rem;
  color: white;
}


/***************** cards  *****************/
#skills .container .right .card {
  position: relative;
  padding: 10px;
  width: 300px;
  background-color: black;
  border: 2px solid black;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s;
  text-align: center;
  display: none;
}

#skills .container .right .card img {
  transition: 0.5s;
  height: 50px;
  width: 50px;
}

#skills .container .right .card h1 {
  font-size: 2rem;
  color: white;
}

#skills .container .right .card h2 {
  font-size: 1.3rem;
  color: white;
}

#skills .container .right .card .content {
  padding: 20px;
  text-align: center;
}

#skills .container .right .card p {
  color: white;
  transition: 0.0s;
}

#skills .container .right .card:hover {
  border: 2px solid white;
}



/************ Responsive **************/
@media screen and (max-width: 740px) {
  #skills .container {
    height: 130vh;
  }

  #skills .container .title {
    font-size: 1.5rem;
    position: static;
    margin-top: 100px;
  }
  #skills .container .bg_skills {
    flex-direction: column;
    align-items: center;
  }
  #skills .container .left {
    height: auto;
    margin-bottom: 90px;
  }
  #skills .container .left .icons {
    margin-top: 0px;
  }
  #skills .container .left .icons button{
    width: 40px;
    height: 40px;
  }
  #skills .container .left ul li button img{
    width: 40px;
    height: 40px;
  }

  #skills .container .right {
    height: auto;
    margin-bottom: 90px;
  }

}


@media screen and (max-width: 320px) {
  #skills .container .left .icons button {
    margin: 0px;
  }
  #skills .container .left .icons p {
    font-size: 0.7rem;
  }
  #skills .container .right {
    width: auto;
  }
} 
